@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font-family: 'Open Sans',sans-serif */

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font-family: 'Karla', sans-serif; */

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Open Sans', sans-serif;
}

body {
      overflow-x: hidden;
}

:root {
      --font1: 'Roboto', sans-serif;
      --font2: 'Open Sans', sans-serif;
      --font3: 'Karla', sans-serif;
}


.carousel {
      margin: auto;
      width: 95vw;
      height: 45vh;
}

.carousel img {
      width: 95vw;
      height: 45vh;
      object-fit: cover
}

.carousel .control-prev.control-arrow:before {
      width: 20px;
      height: 20px;
}

.carousel .control-next.control-arrow:before {
      width: 20px;
      height: 20px;
}

@media only screen and (max-width: 1200px) {
      .carousel {
            height: 45vh;
      }

      .carousel img {
            height: 45vh;
      }
}

@media only screen and (max-width: 600px) {
      .carousel {
            width: 100%;
            height: 27vh;
      }

      .carousel img {
            width: 100%;
            height: 27vh;
      }
}